@reference "../app.css";

:global(.mdxeditor) {
  overflow: hidden;
  resize: vertical;
}

.mdxeditor :global(.mdxeditor-root-contenteditable) {
  @apply prose;

  height: 100%;
  max-width: 100%;
  overflow: auto;
  scrollbar-gutter: stable;
}

.mdxeditor :global(.mdxeditor-root-contenteditable) ~ div {
  height: 100%;
}

.mdxeditor
  :global(.mdxeditor-root-contenteditable)
  [role="textbox"]
  > :first-child {
  margin-top: 0;
}

.mdxeditor :global(.mdxeditor-root-contenteditable) a {
  @apply text-blue-600 underline;
}

.mdxeditor
  :global(.mdxeditor-root-contenteditable)
  [data-editor-block-type="image"] {
  @apply border rounded-sm;

  height: 10rem;
  width: 10rem;
}

.mdxeditor :global(.mdxeditor-toolbar) {
  @apply gap-2 p-2;

  align-items: center;
  background-color: white;
  border-radius: 0;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  position: sticky;
  top: 0;
  width: inherit;
  z-index: 2;
}

html :global(.mdxeditor-popup-container) {
  border: 0;
  height: 0;
  height: 100%;
  left: 0;
  z-index: 2000;
  height: 0;
  min-height: 0;
  position: fixed;
  top: 0;
  width: 0;
}
